@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
/*'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@1,200&display=swap");
/*'Open Sans', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #757575; }
  header .navbar {
    font-family: "Poppins", sans-serif;
    font-size: 95%; }
    header .navbar .nav-item a {
      color: white; }
    header .navbar .nav-item:hover {
      transform: scale(1.1);
      transition: all 500ms; }
    header .navbar .gris {
      background-color: #757575; }

main {
  background-color: #FBFFFE; }
  main .productosInicio {
    display: flex;
    flex-direction: row; }
    main .productosInicio picture:hover {
      transform: scale(1.1);
      transition: all 500ms; }
  main .productosOfertas picture:hover {
    transform: scale(1.1);
    transition: all 500ms; }
  main p {
    font-size: 85%;
    font-family: "Poppins", sans-serif;
    padding: 2px; }
  main .titulo {
    text-align: center; }
  main .subtitulo {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 95%; }
  main .formContacto form {
    padding: 5%;
    width: 50%;
    height: 50%;
    font-size: 85%; }

main h1, main h2 {
  font-weight: bold;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 5%; }

footer {
  padding-top: 20%;
  padding-bottom: 10%;
  background-color: #757575; }
  footer p {
    font-family: "Poppins", sans-serif;
    font-size: 85%; }

/*mobile first*/
body {
  margin-bottom: 10%; }

.cuerpo {
  display: flex;
  flex-direction: column; }

@media (min-width: 500px) {
  .cuerpo {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) {
  .cuerpo img {
    width: 200px;
    height: 112px; } }

@media (min-width: 1024px) {
  .cuerpo img {
    width: 250px;
    height: 140px; } }
