@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
/*'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@1,200&display=swap');
/*'Open Sans', sans-serif;*/

$letraTextos: 'Poppins', sans-serif;
$letraTitulos: 'Open Sans', sans-serif;

$blanco: #FFFFFF;

/*Paleta*/
$celesteOscuro: #4895EF;
$celesteClaro: #4CC9F0;
$azul: #3F37C9;
$purpura: #480CA8;
$violeta: #B5179E;
$rosa: #F72585;