/*Estilos del header*/
header{

    .navbar{
            font-family: $letraTextos;
            font-size: 95%;
            ul{
            li{
                a{
                    color: $blanco;
                }
                    @include hoverExpandir;
                 }
            }

 
 }
}
