header{
    background-color: $gris;
    .navbar{
            font-family: $letraTextos;
            font-size: 95%;
        .nav-item{
                    a{
                        color: white;
                    }

                  @include hoverExpandir;
                 }
    .gris{
        background-color: $gris;
    } 
 }
}
