
main{
    background-color: $blanco1;
    .productosInicio{
    display: flex;
    flex-direction: row;
        picture{
        @include hoverExpandir;
            }
        }
    .productosOfertas{
        picture{
        @include hoverExpandir;
        }
    }
    p{
        font-size: 85%;
        font-family: $letraTextos;
        padding: 2px;
     }
    .titulo{
        text-align: center;
            }
    .subtitulo
    {
        font-family: $letraTitulos;
        font-weight: bold;
        text-align: center;
        font-size: 95%;
    }
    .formContacto{
        form{
        padding: 5%;
        width: 50%;
        height: 50%;
        font-size: 85%;
            }
        }
    }
