
main{
    background-color: $purpura;
    .productosInicio{
    .card{
        width: 80%;
        height: 60%;
    }
    .muestraInicio1{
        margin-left: 10%;
    }
    .muestraInicio3{
        margin-left: 10%;
    }
    .celesteClaro{
        background-color: $celesteClaro;
    }
    picture{
        @include hoverExpandir;
            }

        }
    .descripcion{
    .textoDescriptivoInicio{
        width: 50%;
        margin-left: 20%;
        background-color: $azul;
        margin-bottom: 5%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .textoDescriptivoInicio{
        color: $blanco;
        text-align: center;
    }
}
    .productosOfertas{
        picture{
        @include hoverExpandir;
        }
    }
    p{
        font-size: 85%;
        font-family: $letraTextos;
        padding-bottom: 5%;
     }
    .titulo{
        font-size: 34px;
        background-color: $azul;
        text-align: center;
        padding-top: 5px;
            }
    .subtitulo
    {
        font-family: $letraTitulos;
        text-align: center;
        font-size: 95%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        background-color: $azul;
        margin-top: 2%;
    }
    .formContacto{
        form{
        padding: 5%;
        width: 50%;
        height: 50%;
        font-size: 85%;
            }
        }
    }
    body, html{
        overflow-x: hidden;
    }
