/*mobile first*/

body{
    margin-bottom: 10%;
}
.cuerpo
{
    display: flex;
    flex-direction: column;
}


@media (min-width:500px) {
   
    .cuerpo
{
  
    display: flex;
    flex-direction: column;
}


}

@media (min-width:768px) 
{
        
    .cuerpo img{
        @include mediasMedidasImg(200px,112px);


    }
    
}
@media (min-width:1024px) 
{

    .cuerpo
    {
       
        img{
            @include mediasMedidasImg(250px,140px);
        }

    }
 
}
