
main{
    background-color: $fondoMain;
    .productosInicio{
    padding: 5%;
    img{
        margin: 5%;
        display: flex;
        flex-direction: row;
    }
}
    p{
        font-weight: bolds;
    }
    .titulo{
        font-size: 95%;
    }
    .formContacto form{
        padding: 5%;
        width: 50%;
        height: 50%;
        font-size: 85%;
    }
}