/*mobile first*/

body{
    margin-bottom: 10%;
    display: grid;
    grid-template-areas: 
    "header"
    "body"
    "footer"
    "feedback";

}
.cuerpo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width:500px) {
    body{   
        display: grid;   
        grid-template-areas: 
        "header"        "header"
        "body"          "body"
        "feedback"      "footer";
    }
    .cuerpo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

}

@media (min-width:768px) 
{
    body{   
        display: grid;   
        grid-template-areas: 
        "header"        "header"        "header" 
        "body"          "body"          "body"   
        "feedback"      "footer"        "footer";
    }
    .cuerpo img{
        width: 200px;
        height: 112px;

    }
    .cuerpo
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;    
        gap: 20px;
    }
}
@media (min-width:1024px) 
{
    body{
        display: grid;   
        grid-template-areas: 
        "header"        "header"        "header"        "header"
        "body"          "body"          "body"          "body"
        "productos1"    "productos2"    "productos3"    "productos4"
        "feedback"      "footer"        "footer"        "footer";
    }

    .cuerpo
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        img{
            width: 250px;
            height: 140px;
        }
        .productos1, .productos2, .productos3, .productos4{
            display: flex;
            flex-direction: row;

        }
    }
 
}
